version: '3'
networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge

services:
  be:  
    image: khanhdpdx01/vecert-be:1.7
    restart: always                    
    # build:
    #   context: ../ve-be
    environment:
      - SERVER_HOST=http://192.168.40.49:8081
      - DATABASE_HOST=10.30.176.54
      - DATABASE_PORT=32221
      - DATABASE_NAME=vecert?useUnicode=yes&characterEncoding=UTF-8
      - DATABASE_ROOT_USER=root
      - DATABASE_ROOT_PASSWORD=vBPEPwd
      - FABRIC_CHANNEL_NAME=demo
      - FABRIC_CHAINCODE_NAME=qlvb
      - FABRIC_EXPLORER_HOST=
      - IPFS_HOST=10.30.176.54
      - IPFS_PORT=5001
      - IMAGE_LOCATION=/app/image
      - WALLET_LOCATION=/app/wallet
    # command: docker rmi $(docker images --filter "dangling=true" -q --no-trunc)
    volumes:
      - /home/khanh/Downloads/connection.json:/app/connection.json
      - /home/khanh/VTS/ve-be/image:/app/image
      - /home/khanh/VTS/ve-be/wallet:/app/wallet
    ports:                              
      - "3000:3000" 
    networks:
      - backend

  fe:                         
    image: khanhdpdx01/vecert-fe:1.5
    restart: always                  
    # build:
    #   context: ../vecert-fe
    environment:
    - NODE_ENV=production
    - VUE_APP_SERVICE_ENDPOINT=http://192.168.40.49:3000
    - VUE_APP_IPFS_ENDPOINT=http://10.30.176.54:8080
    - VUE_APP_EXPLORER_ENDPOINT=http://10.30.176.54:31898
    - VUE_APP_TOTAL_ITEMS=10
    ports:
      - "8081:8080"                     
    networks:
      - frontend
  